<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/RocketLogo.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>
      <div class="text-center">
        <h2>Product Management System</h2>
      </div>
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Rocket Team</h3>
      </div>

      <div class="text-center">@rocketsoftware</div>
      <div class="text-center">
        <a href="http://www.rocketsoftware.com">www.rocketsoftware.com</a>
      </div>
    </div>
  </div>
</div>